//$font-size-base: 14px !default;
$font-size-base: 16px;

// NAVBAR //
$navbar-height:                           80px;  //altura do navbar
$navbar-inverse-color:                    #fff;  //cor(texto) do navbar
$navbar-inverse-bg:                       #ef382b; // BG do navbar

// Navbar toggle (menu mobile) //
$navbar-inverse-toggle-icon-bar-bg:        #fff; //cor do "sanduice"(icone de menu)
$navbar-inverse-toggle-border-color:       none; //cor da borda do icone


// Navbar links (menu) //
$navbar-inverse-link-color:                 #000;
$navbar-inverse-link-hover-color:           #000;
